{% extends 'base.html.twig' %}

{% block title %}Mission Overview{% endblock %}

{% block body %}

<div>
    <h1>These are the Missions ✅</h1>

    {% for mission in missions %}
    <h4>{{ mission }}</h4>
    {% endfor %}
</div>
{% endblock %}
